# Java
*.class
*.jar
*.war
*.ear
*.iml
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Playwright
/playwright-report/
/test-results/
/videos/
/screenshots/

# Allure
allure-report/
allure-results/
.allure/

# IntelliJ IDEA
.idea/
*.iws
*.ipr

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.out

#DB
db/